.pb-2 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 600 !important;
}

p {
  font-size: 20px !important;
  color: #333333;
  line-height:32px !important;
}

.nav-link, .nav-item {
  color: black !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  }

  .nav-link:hover{
    color: #2d55ff !important;
 
    }

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
header {
  position: relative;
  background-color: black;
  height: calc(460px + 9.5vw) !important;
  width: 100%;
  overflow: hidden;
  margin-top:-0.5em !important;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2D0000;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}